input[type="search"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	font-family: $font__heading;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 2px;
	padding: 0.6rem 1rem;
	box-shadow: none;
	box-sizing: border-box;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
	min-height: 6.5rem;
	padding-top: .6rem;
	padding-bottom: .6rem;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; }

	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	textarea:focus,
	select:focus {
		border: 1px solid #33C3F0;
		outline: 0;
	}

	label,
	legend {
		display: block;
		margin-bottom: .5rem;
		font-weight: 600;
	}

	fieldset {
		padding: 0;
		border-width: 0;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline;
	}

	label > .label-body {
		display: inline-block;
		margin-left: .5rem;
		font-weight: normal;
	}

	.search-form {
		display: block;
		width: 100%;
		margin: 0;
	}
	.search-box label, .search-form label {
		float: left;
		width: 80%;
		margin: 0;
	}
	input.search-field {
		font-size: 2rem;
		width: 100%;
		border-radius: 2px 0 0 2px;
		outline: none;
	}
	.search-submit {
		width: 20%;
		margin: 0;
		height: auto;
		line-height: 1;
		border-radius: 0 2px 2px 0;
		border: none;
		vertical-align: top;
		background: $color__brand;
	}
	.search-submit:before {
		content: '\73';
		display: inline-block;
		padding: 0 .5rem;
		font-family: 'brieficons';
		font-size: 3rem;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		text-transform: none;
		font-weight: normal;
	}
