html {
	font-size: $font__base-size;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__default-size;
	line-height: $font__line-height-body;
}

.site-branding {
	font-family: $font__branding;
	font-size: 2.6rem;
}

@import "headings";

@import "copy";
