$color__brand: #00A44E;
$color__brand-light: #36B371;
$color__brand-lighter: #00F072;
$color__brand-lightest: #48F098;
$color__brand-dark: #007136;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00A44E;
$color__link-visited: #36B371;
$color__link-hover: #007136;
$color__text-main: #404040;

$color__border-button: #00A44E;
$color__border-button-hover: #007136;
$color__border-button-focus: #007136;
$color__border-input: #D1D1D1;
$color__border-abbr: #007136;
