$size__site-main: 100%;
$size__site-sidebar: 25%;

/*=============================================================
Container // Grid
=============================================================*/
$container-width: 1280px;
$is-fluid: false;
$columnMargin: 4%;
$columnAmount: 12;
$colCount: 16;
$single-column-width: (100% - ($columnMargin * ($columnAmount - 1))) /$columnAmount;

/*==============================================================
3.0 Basic Structure
==============================================================*/
.wrap {
  clear: both;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 1rem;
  position: relative;
}

@media (min-width: 640px) {
  .wrap {
    padding: 0 2rem;
  }
}

@media (min-width: 960px) {
  .wrap {
    padding: 0 4rem;
  }
}
