/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Header navigation
--------------------------------------------------------------*/
ul#header-menu {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  float: right;
  & li {
    @extend .button;
    border-color: #fff;
    margin-top: 1.55rem;
    &.login-toggle {
      margin-right: 0;
    }
    & a {
      display: block;
      color: #fff;
    }
  }
}


/*--------------------------------------------------------------
## Footer navigation
--------------------------------------------------------------*/
footer.site-footer {
  display: block;
  width: 100%;
  background: #030303;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  z-index: 9999;
}

footer.site-footer > .search-box-wrapper {
  padding: 15px;
}

footer.site-footer .sharepanel-wrapper,
footer.site-footer .search-box-wrapper {
  text-align: center;
  border-bottom: 1px solid #222;
  outline: 1px solid #030303;
}

#sections ul li.button {
  width: 100%;
  margin: 0.5rem 0;
}

#primary #sections ul li.button {
  @media screen and (min-width: $phablet) {
    width: 49%;
    &:nth-child(even) {
      margin-left: 2%
    }
  }
  @media screen and (min-width: $desktop) {
    width: 32%;
    margin-left: 2%;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}
