.sticky {
	display: block;
}

.article-content {
	@include center-block;
	@media screen and (min-width: $desktop) {
		float: left;
	}
	& p,
	& h2 {
		max-width: 70rem;
	}
}
.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

article.prakmed_article .byline,
.singular-prakmed_article .byline,
.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
