.sticky {
	display: block;
}

.article-content {
	@include center-block;
	@media screen and (min-width: $desktop) {
		float: left;
	}
	& p,
	& h2 {
		max-width: 70rem;
	}
}
.hentry {
	margin: 0 0 1.5em;
}

.search,
.archive  {
	& header.page-header {
		margin-bottom: 2rem;
	}
	& article {
		margin: 2rem 0;
		border-top: 3px solid $color__brand;
		& .entry-media, .entry-header {
			margin-top: 2rem;
		}
		& a {
			color: $color__text-main;
			text-decoration: none;
			& header.entry-header {
				// padding-top: 2rem;
			}
			& div.entry-meta {
				// padding-bottom: 2rem;
			}
			&:hover,
			&:active,
			&:focus {
				& div,
				& header {
					background: $color__brand-grey;
					opacity: .8;
				}
			}
		}
	}
}

.search {
	p.label {
		background: $color__brand;
		display: inline-block;
		padding: .5rem 1rem;
		color: $color__text-white;
		margin: 2rem 0 0 0;
	}
}

.course-archive {
	display: flex;
	gap: 4rem;
	flex-wrap: wrap;
	& article {
		flex: 1 1 100%;
		@media screen and (min-width: $desktop) {
			flex: 0 0 calc(50% - 4rem);
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

article.prakmed_article .byline,
.singular-prakmed_article .byline,
.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
